.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211,211,211, 0.6);
    padding: 30px 50px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px 4px lightgray;
    position: relative;
    z-index: 2;
}

@media screen and (max-width:768px){

    .block{
        width: 390px;
        padding: 30px 30px;
    }
}

@media screen and (max-width:480px){
    .block{
        width: 250px;
        font-size: 13px;
    }
}
