.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.titlePlsLogIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(211,211,211, 0.6);
    padding: 30px 50px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 4px 4px 4px lightgray;
}

.homeImg{
    max-width: 100%;
    height: auto;
}