.contactList{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.contactDelBtn {
    width: 70px;
    height: 30px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.contactDelBtn:hover {
    background-color: rgb(190, 77, 77);
}

.contactNameField {
    width: 50%;
}